<div class="discours2">
  <h2>OUCH ! Il semblerait que ce nom soit déjà pris,
    ou qu'il ne corresponde pas au format imposé ! (pas d'espace svp)</h2>
</div>
<div class="discours2">
  <a href="/"><button>Retour à l'accueil</button></a>
</div>